@font-face {
    font-family: 'Phelix Boomgartner';
    src: url('PhelixBoomgartner-Regular.woff2') format('woff2'),
        url('PhelixBoomgartner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}