@font-face {
    font-family: 'SF Atarian System Extended';
    src: url('SFAtarianSystemExtendedBoldItalic.woff2') format('woff2'),
        url('SFAtarianSystemExtendedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}