body{
	background: url("img/GlitchBG1.png");
	background-color: rgb(0,0,0);
	cursor: url("img/cursor.png"), auto;
	font-family: "sfatarian";
	color: white;
}div.bodyoverlay{background-color: rgb(0,0,0,0.5);}
a{text-decoration:none;cursor:url("img/cursor.png"), auto;}
@font-face{
    font-family: 'phelix';
    src: url('fonts/phelix/PhelixBoomgartner-Regular.woff2') format('woff2'),
        url('fonts/phelix/PhelixBoomgartner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'sfatarian';
    src: url('fonts/sfatarian/SFAtarianSystemExtendedBoldItalic.woff2') format('woff2'),
        url('fonts/sfatarian/SFAtarianSystemExtendedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
h1.title{font-family: "phelix";letter-spacing:10px;}

div.logo{
	width:100%;height:25%;
	background-image:url('img/LogoGif.gif');
	background-repeat:no-repeat;
	background-position:center;
	background-size:calc(520px*0.95) calc(320px*0.95);
}
img.logo{}
div.desc{}
div.release{
	margin-top:4vmin;
	height:10%;
}
a.release{
	width:500px;
	background-color: rgba(0,0,0,0);
	background:url("img/button.png") no-repeat;
	background-position:-12px 0px;
	background-size:100% 130%;
	border:none;
	font-family: "sfatarian";
	color: white;
	letter-spacing:3px;
	line-height:24px;
	display:inline-block;
}
div.footer{
	margin-top:4vmin;
	height:2%;
}